<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxyxl.dao.RoleTypeMapper">
    <select id="queryCount" resultType="integer">
        select count(id) from role_type
    </select>

    <select id="findAllType" resultMap="RoleTypeMap">
        select * from role_type
        order by sort_num asc
    </select>

    <resultMap id="RoleTypeMap" type="com.cxyxl.bean.RoleType">
        <id column="id" property="id"/>
        <result column="role_type_name" property="roleTypeName" />
        <result column="sort_num" property="sortNum"/>
    </resultMap>

</mapper>
